@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --main-white: #fefefe;
    --main-light-grey: #c4c4c4;
    --main-grey: #808080;
    --main-black: rgb(34, 34, 34);
    --main-blue: #90caf9;
    --main-dark-blue: #249cff;
    --main-dark-red: #660000;
    --main-red: #A30000;
    --main-yellow: #ffffa3;
    --main-light-pink: #F9E6E6;
    --max-width: 1200px;
    --main-ease: cubic-bezier(.65,.05,.36,1);
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--main-white);
    color: var(--main-black);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.header {
    display: flex;
    justify-content: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    max-width: var(--max-width);
    width: 100%;
}

.header-link {
    padding: 0 10px;
    cursor: pointer;
}

.header-secondary-link {
    padding: 0 10px;
    font-size: 0.8rem;
    color: var(--main-grey);
    text-decoration: none;
    border-right: 1px solid var(--main-grey);
}
.header-secondary-link.active,
.header-primary-link.active {
    color: var(--main-red);
    text-decoration: underline;
}

.header-primary-link:hover,
.header-secondary-link:hover {
    background-color: var(--main-yellow);   
}

.header-secondary-link:last-child,
.header-primary-link:last-child {
    border-right: none;
}

.header-divider {
    height: 1px;
    width: 80%;
    margin: 10px auto;
    margin-top: 0;
    background-color: var(--main-grey);
}

#header-cart-icon {
    position: relative;
}

.header-cart-amount {
    display: none;
    position: absolute;
    background-color: var(--main-red);
    border-radius: 50%;
    height: 1.5rem;
    width: 1.5rem;
    color: var(--main-white);
    place-items: center;
    top: -10px;
    right: -5px;
    font-size: 1rem;
}

.header-cart-amount.active {
    display: grid;
}

.cart-modal-wrapper {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
}

.cart-modal-close-button {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;

}

.cart-modal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 1;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--main-white);
    border: 1px solid var(--main-black);
}

.cart-modal-wrapper.active {
    display: block;
}

.header-bottom-row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.header-primary-link {
    padding: 0 10px;
    font-size: 1.4rem;
    color: var(--main-black);
    text-decoration: none;
    border-right: 1px solid var(--main-black);
}

.top-links {
    width: 100%;
    display: flex;
}

.top-right-links {
    justify-content: flex-end;
    display: flex;
}

.header-logo {
    height: 100px;
}

.header-top-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



/* MAIN CONTENT STYLES */


.content {
    flex-grow: 1;
    display: flex;
}

.content-wrapper {
    margin: 0 auto;
    max-width: var(--max-width);
    flex-grow: 1;
    background-color: var(--main-light-pink);
}



/* END MAIN CONTENT STYLES */



/* FOOTER STYLES */

.footer {
    background-color: var(--main-dark-red);
    color: var(--main-white);
    width: 100%;
}

.footer-wrapper {
    padding: 20px;
    max-width: var(--max-width);
    height: 100%;
    margin: 0 auto;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.footer-divider {
    margin: -10px 0;
    width: 1px;
    background-color: var(--main-light-grey);
}

.footer-section td {
    padding: 0 10px;
    color: var(--main-light-grey);
}

.footer-section h4 {
    text-align: center;
    margin-bottom: 20px;
}

.copyright {
    color: var(--main-light-grey);
    text-align: right;
    margin-top: 10px;
}

/* END FOOTER STYLES */


/* STANDARD INPUT STYLES */

.standard-input {
    position: relative;
    margin: 20px 0;
}

.standard-input input {
    color: var(--main-black);
    height: 4rem;
    border: none;
    border-bottom: 1px solid var(--main-grey);
    background-color: var(--main-dark-grey);
    padding-left: 20px;
    font-size: 20px;
    transition: .1s var(--main-ease);
    width: 100%;
    outline: none;
    box-sizing: border-box;
}

.standard-input label {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    background-color: var(--main-dark-grey);
    color: var(--main-grey);
    text-align: center;
    transition: .2s var(--main-ease);
    font-size: 1.5rem;
    pointer-events: none;
    padding: 0 5px;
}

.standard-input input:not(:placeholder-shown) ~ label,
.standard-input input:focus ~ label {
    top: 0px;
    left: 10px;
    font-size: 1rem;
}

.standard-input .underline {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scaleX(0);
    transition: transform 0.2s var(--main-ease);
    border-bottom: 2px solid var(--main-dark-blue);
}

.standard-input input:focus ~ .underline {
    transform: scaleX(1);
}
.standard-input input:hover {
    border-bottom: 2px solid var(--main-black);
}
.standard-input input:focus ~ label {
    color: var(--main-dark-blue) !important;
}

/* END OF STANDARD INPUT STYLES */



.form {
    margin: 0 auto;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-buttons {
    width: 100%;
    display: flex;
    margin: 20px 0;
}

.form-button {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-black);
    text-decoration: none;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid var(--main-black);
    margin: 5px;
}

.form-submit-button {
    background-color: var(--main-dark-red);
    color: var(--main-white);
}

.form-heading {
    text-align: center;
    margin: 20px 0;
}

.form input {
    width: 100%;
}

.text-center {
    text-align: center;
}

.file {
    margin-bottom: 20px;
}
.checkbox {
    margin-bottom: 20px;
}